:root {
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
}

.outside-card {
  padding: 0rem 1rem;
  margin-top: 1rem;
}

.card {
  border: 1px solid var(--title-color);
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.title {
  color: var(--first-color);
}

.email {
  font-size: small;
  line-height: 0px;
  margin-bottom: 1rem;;
}

.time {
  font-size: small;
  margin-top: 1rem;
  text-align: right;
}

